body {
    font-family: Arial, sans-serif;
    background-color: #F9F7F6;
    color: #2E2E2E;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  
  label {
    font-size: 1.2rem;
  }
  
  input[type=number] {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    margin-right: 1rem;
  }
  
  button {
    background-color: #2E2E2E;
    color: #F9F7F6;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: greenyellow;
    color: #2E2E2E;
  }
  
  div:nth-of-type(2) {
    margin-top: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  #score-s, #score-l {
    font-weight: bold;
  }
  
  #winner {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  